.lmj-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;

}
.lmj-plant-item{
	transition: transform 0.3s ease-in-out;
}

.lmj-plant-item:hover {
	transform: scale(0.95);
  }
.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
	color: #fff;
}

.lmj-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #FFCE9A;
	color: #222222;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;
}